<div class="container-info">
  <h2>¿Que es el IMC (Indice de Masa Corporal)?</h2>
  <p>El IMC (Indice de Masa Corporal) es una medida de asociacion entre el peso y la talla de una persona.
    El IMC constituye la medida poblacional mas util del sobrepeso y la obseidad, pues la forma de calcularlo
    no varia en funcion del sexo ni de la edad en la publacion adulta. No obstante, debe considerarse como una
    guia aproximativa, pues puede no corresponder al mismo grado de gordura de diferentes individuos.
  </p>
  <p> La Organizacion Mundial de la Salud, ha propuesto una clasificacion del estado nutricional dependiento del
    IMC de una persona.
  </p>
</div>
